{% load static %}

<div class="profile-section pt-4 mt-4 text-center d-flex flex-column">
    <div class="rounded-circle bg-info d-flex justify-content-center mx-auto mb-4" style="width:145px" >
        <img class="mx-auto" src="{% static "img/AkramQasem.png" %}" width="100" alt="image">			
    </div>
    <div class="my-4">
        <p >
            Hi, I'm Akram Qasem. Software engineer ,Django Developer.
        </p>
        <a href="https://akfaqih3.github.io/Portfolio/" target="_blank">Find out more about me</a>
    </div><!--//bio-->
    <ul class="social-list list-inline mx-auto">
        <li class="list-inline-item"><a href="https://github.com/akfaqih3" class="h3"><i class="icon-github"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/akram-qasem-472876251/" class="h3"><i class="icon-linkedin"></i></a></li>
        <li class="list-inline-item"><a href="https://x.com/akfaqih3" class="h3"><i class="icon-twitter"></i></a></li>
        <li class="list-inline-item"><a href="https://t.me/akfaqih" class="h3"><i class="icon-telegram"></i></a></li>
        
    </ul><!--//social-list-->
    <hr> 
</div>